*.class

#package file
*.war
*.jar
*.ear

#kdiff3 ignore
*.orig

#maven
target/

#eclipse
.settings/
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp
*.log
